<h2>Love you Saachu</h2>


<p><a href="http://www.desicomments.com/desi/flowers/"><img src="http://www.desicomments.com/wp-content/uploads/Tulips-600x425.jpg" alt="Tulips" width="600" height="425" class="alignnone size-thumbnail wp-image-285473" /></a></p>

<p> GMT <p>

<%= @time %>

<%= link_to "Click here for surprise" , :action => "video" %>
